<p id="notice"><%= notice %></p>

<h1>Your cart:</h1>

<% if current_order.line_items.any? %>
<div id="line-items">
  <%= render 'line_items/line_items' %>
</div>

<br>

<%= link_to "Place Order", new_charge_path, class: "waves-effect waves-light btn" %>

<% else %>
  <h4>No products added.</h4>
<% end %>
